<<<<<<< HEAD

.outercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #73198c;
    perspective: 800px; /* Adds depth to the 3D effect */
}
.container {
    width: 300px;
    height: 400px;
   background-image:url(Screenshot.png);
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Smooth animation */
    transform-origin:; /* Set the origin to the top-right corner */
    
}

.container:hover {
   /* Tilt the container like a page */
   transform: rotateX(15deg) rotateY(15deg);;
    
}
h1:hover{
    scale: 1.2;
}
h2:hover{
    scale: 1.2;
}
p:hover{
    scale: 1.1;
}
.large-rectangle {
    border-radius: 10px;
    width: 100%;
    height: 75%; /* 3/4 of the container */
    background-color: #050101; /* Light blue */
    position: absolute;
    bottom: 0;
    color: aqua;
    
    display: flex;
    flex-direction: column;
    box-shadow: 5px 15px 20px 5px #F50505; /* Glow effect */
}



.small-square {
    border-radius: 10px;
    width: 70px;
    height: 70px;
    background-color: #5d0202; /* Purple */
    margin-left: 15%;
    position: absolute;
    top: -7%;
    box-shadow: 5px 15px 20px 5px #f42c04; /* Glow effect */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    gap: 1px;
}
=======

.outercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #73198c;
    perspective: 800px; /* Adds depth to the 3D effect */
}
.container {
    width: 300px;
    height: 400px;
   background-image:url(Screenshot.png);
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Smooth animation */
    transform-origin:; /* Set the origin to the top-right corner */
    
}

.container:hover {
   /* Tilt the container like a page */
   transform: rotateX(15deg) rotateY(15deg);;
    
}
h1:hover{
    scale: 1.2;
}
h2:hover{
    scale: 1.2;
}
p:hover{
    scale: 1.1;
}
.large-rectangle {
    border-radius: 10px;
    width: 100%;
    height: 75%; /* 3/4 of the container */
    background-color: #050101; /* Light blue */
    position: absolute;
    bottom: 0;
    color: aqua;
    
    display: flex;
    flex-direction: column;
    box-shadow: 5px 15px 20px 5px #F50505; /* Glow effect */
}



.small-square {
    border-radius: 10px;
    width: 70px;
    height: 70px;
    background-color: #5d0202; /* Purple */
    margin-left: 15%;
    position: absolute;
    top: -7%;
    box-shadow: 5px 15px 20px 5px #f42c04; /* Glow effect */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    gap: 1px;
}
>>>>>>> 173e681 (Initial commit)
